$dark: #0a0a0a;
$meddark: #464646;
$medligh: #7a7a7a;
$light: #f8f8f8;

html,
body {
  width: 100%;
  height: 100%;
  background-color: $meddark;
  color: $light;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.NowPlaying {
  //background-color: $dark;
  //padding: 20px 20px 10px 20px;
  text-align: left;
  margin: 100px;
}

.SongDisplay {
  display: inline-block;
  width: 450px;
  text-align: left;
  margin: 25px;
  img {
    height: 150px;
    width: 150px;
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
  }
  .songInfo {
    font-size: 12px;
    width: 250px;
    line-height: 50px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    h1 {
      width: max-content;
      animation: 6s marquee infinite linear;
      @keyframes marquee {
        0% {
          transform: translateX(250px);
        }
        30%,
        50% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-110%);
        }
      }
    }
  }
}
