body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SongDisplay {
  border: black;
  border-style: solid;
  text-align: left;
  display: inline-block;
  padding: 20px;
}

.SongDisplay > img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
}

.SongDisplay > .songInfo {
  display: inline-block;
  vertical-align: middle;
}
