@import '../common';

.SongGraph {
  $size: 100vmin;
  width: $size;
  height: $size;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SongVertex {
  transform-origin: 50% 50%;

  .ball {
    transition: all 0.2s ease-out;
  }

  &:hover {
    .ball {
      transform: scale(2);
    }
  }
}
