@import '../common';

.PlaylistList {
  text-align: center;
  margin: auto;
  
  @include responsive(xs) {
    width: 100%;
  }
  @include responsive(sm) {
    width: 750px;
  }
  @include responsive(md) {
    width: 1200px;
  }
  @include responsive(lg) {
    width: 1200px;
  }
}