@import '../common';

.InfoPanel {
  height: 100%;
  width: 400px;
  position: absolute;
}

.SongDisplay {
  width: 320px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  background-color: $dark;
  color: $light;
  border-radius: 20px;
  position: relative;
  font-size: 24px;

  &.small {
    .albumCover {
      height: 100%;
      display: inline-block;
    }

    .songInfo {
      display: inline-block;
      margin: 0 20px;
      position: absolute;
      top: 0;
      height: 100%;
      width: 200px;

      p {
        margin: 30px 0;
        position: absolute;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.songTitle {
          top: 0;
        }

        &.artists {
          bottom: 0;
        }
      }
    }
  }

  &.large {
    width: 280px;
    height: max-content;
    text-align: center;
    padding: 40px;

    .albumCover {
      position: relative;
      width: 100%;
    }

    .songInfo {
      position: relative;
      width: 100%;
      padding: 10px 0;

      p {
        width: 100%;
        position: relative;
        margin: 6px;

        &.artists {
          font-size: 18px;
        }

        &.albumName {
          font-size: 18px;
          padding-bottom: 24px;
        }

        &.duration {
          font-size: 14px;
          text-align: left;
          position: absolute;
          bottom: 0;
        }

        &.neighborCount {
          font-size: 14px;
          text-align: right;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}

.NowPlaying {
  .SongDisplay {
    .progressBar {
      width: 100%;
      font-size: 14px;
      line-height: 0;
      background-color: $medlight;

      .progress {
        float: left;
        position: relative;
      }

      .duration {
        float: right;
      }
    }

    .controls {
      width: 100%;
      margin-top: 20px;
      svg {
        font-size: 40px;
        margin: 0 15px;
        border-radius: 20px;
        
        &:hover {
          background-color: $light;
          color: $dark;
          transition: 100ms;
        }
      }
    }
  }
}
