@import '../common';

.SongBall {
  transform-origin: 50% 50%;
  circle {
    transition: all 0.2s;
  }

  image {
    display: none;
  }

  &:hover {
    circle {
      transform: scale(1.5);
    }

    image {
      display: block;
    }
  }
}
