@import '../vars';

.SongDisplay {
  display: inline-block;
  width: 450px;
  text-align: left;
  margin: 25px;
  img {
    height: 150px;
    width: 150px;
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
  }
  .songInfo {
    font-size: 12px;
    width: 250px;
    line-height: 50px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    h1 {
      width: max-content;
      animation: 6s marquee infinite linear;
      @keyframes marquee {
        0% {
          transform: translateX(250px);
        }
        30%,
        50% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-110%);
        }
      }
    }
  }
}