// Colors
$dark: #0A0A0A;
$meddark: #35393C;
$medlight: #7A7A7A;
$light: #F8F8F8;
$green: #1DB954;
$blue: #42858C;
$red: #DB504A;
$yellow: #E3B505;

// Responsive
@mixin responsive($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 1366px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1920px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
