@import './common';

html,
body {
  width: 100%;
  height: max-content;
  background-image: radial-gradient(circle at center, $green, $blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $light;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: max-content;
}